//font-sizes
$fs-vlg: 2.2rem;
$fs-lg: 1.4rem;
$fs-mid-head: 1rem;
$fs-mid-reg: 0.8rem;
$fs-sm: 0.7rem;
$fs-vsm: 0.5rem;

//colors
$clr-emerald: #0e8a96;
$clr-orange: #fe6b0c;
$clr-danger: #bd4028;
$clr-milk: #fbfbfb;

//borders
$border-main: 0.5px #e2e8f0 solid;
