//font-sizes
$fs-vlg: 2.2rem;
$fs-lg: 1.4rem;
$fs-mid-head: 1rem;
$fs-mid-reg: 0.8rem;
$fs-sm: 0.7rem;
$fs-vsm: 0.5rem;

//colors
$clr-emerald: #00606f;
$clr-orange: #fe6b0c;
$clr-danger: #bd4028;
$clr-milk: #fbfbfb;
$clr-primary: #0d6efd;

//borders
$border-main: 0.5px #e2e8f0 solid;

//block dims
$block_width: 340px;
$block_height: 125px;

//thumb dims
$thumb_width: 125px;
$thumb_height: 125px;
$thumb_border_radius: 10px;
